@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

/* All dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End all dedications */

/* poem/verse/song */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}
/* end of poem/verse/song */

/* location specific */
#dedication p{
	font-variant: small-caps;
	margin-top: 3em;
}

#chapter-2 blockquote > p{
	font-style: italic;
}

#chapter-4 blockquote:first-of-type,
#chapter-4 blockquote:nth-of-type(2),
#chapter-6 blockquote:last-of-type,
#chapter-8 blockquote:last-of-type,
#chapter-9 blockquote{
	font-variant: small-caps;
	text-transform: lowercase;
}

#chapter-6 blockquote:last-of-type,
#chapter-7 blockquote > header > p,
#chapter-8 blockquote:last-of-type p,
#chapter-9 blockquote p,
#chapter-10 blockquote > header > p{
	text-align: center;
	text-indent: 0;
}

#chapter-7 blockquote > header,
#chapter-10 blockquote > header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

/* "jumping" text */
#chapter-7 div > p{
	hanging-punctuation: none;
	text-indent: 1em;
}

#chapter-7 div span{
	visibility: hidden;
}
/* end of jumping text */
