@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* poem/verse/song */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}
/* end of poem/verse/song */

/* location specific */
#chapter-1 blockquote:first-of-type > p{
	text-align: right;
}

#chapter-2 blockquote > p{
	font-style: italic;
}

#chapter-6 blockquote:last-of-type,
#chapter-8 blockquote:last-of-type,
#chapter-9 blockquote{
	font-variant: small-caps;
	text-transform: lowercase;
}